body{
    margin: 0;
    background-color: #e0e0e0;
    background-image: url("../Locales/wallpaper.jpg");
    z-index: 2;

}

.lateralBar{
    top: 0;
    position: fixed ;
}


.errorMessage{
    color: red;
}

@media (max-height: 600px) {
    .lateralBar{
        position: absolute;
    }
    .IndexContainer{
        padding-left: 50px;
    }

}