.tableShowGroup{
    border-color: white;
    border-style: dashed none none none;
    position: relative;
    padding-top: 20px;
    align-content: center;
    margin: auto;
    margin-left: 50px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

.containGroups{
    display: inline-block;
    text-align: center;
}

table{
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    background-color: #e6f7ff;
    color: black;
}

td, th {
    padding: 6px;
    text-align: center;
    border-bottom: 1px solid #000;
}

tr:nth-child(even) {
    background-color: #cceeff;
}

th{
    background-color: #84b5ff;
}

#returnIcon{
    font-size: 4em;
    color: #2A6A92;
}
#returnIcon:hover{
    color: #2899A9;
}

#returnIcon:visited{
    font-size: 6em;
    color: #6f6c6d;
}

h1{
    text-align: center;
}
.ActionButtons{
    padding-left: 10%;
}

#addIcon{
    color: #2A6A92;
    font-size: 4em;
}
#addIcon:hover{
    color: #2899A9;
}

#addIcon:visited{
    font-size: 6em;
    color: #6f2f31;
}

#modIcon{
    color: #6f6c6d;
}
#modIcon:hover{
    color: #2899A9;
}

#modIcon:visited{
    color: #6f2f31;
}
#seeIcon{
    color: #6f6c6d;
}
#seeIcon:hover{
    color: #2899A9;
}
#seeIcon:visited{
    color: #6f2f31;
}#delIcon{
     color: #6f6c6d;
 }
#delIcon:hover{
    color: #2899A9;
}
#delIcon:visited {
    color: #6f6c6d;
}